
/* 
    Created on : 27-mar-2014, 18.41.27
    Author     : bananajoe
*/

.page{
    margin: auto auto auto auto;
    width: 900px;
    height: 1024px;
    padding: 2px;
    background-color: aliceblue;
    border-radius: 5px;
    //border: 1px navy solid;
}

.header{
    position: relative;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 25px;
    background-color: #17769C;
    height: 80px;
    //border: 1px navy solid;
}

#sidebar{
    padding: 2px;
    position: relative;
    height: 827px;
    width:  180px;
    bottom: -3px;
    background-color: whitesmoke; 
    //border: 1px navy solid;
}

#content{
    padding: 2px;
    position: relative;
    height: 827px;
    margin-left: 190px;
    bottom: 830px;
    background-color: whitesmoke;
    //border: 1px navy solid;
}

#footer{ 
    position: relative;
    background-color: #17769C;
    height: 60px;
    padding-top: 20px;
    bottom: 827px;
    border-radius: 3px;
    alignment-adjust: central;
    text-align: center;
    //border: 1px navy solid;
}

.info{
    position: relative;
    //border: 1px navy solid;    
}
.content{
    background-image: url(img/2.jpg);
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    height: 752px;
    //border: 1px navy solid;  
}

.linkSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: 1px navy solid;
}

.imgSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    //border: 1px navy solid;
}

.linkSocial{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    //border: 1px navy solid; 
}

.buyerFeatures{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: 1px navy solid;
}

.logIn{
    position: relative;
    top: 10px;
}

.logoutbutton{
    margin-left: 640px;
    position: relative;
    bottom: 40px;
}

.loginbutton{
    margin-left: 635px;
    position: relative;
    bottom: 38px;
}

.barra{
    position: relative;
    top: 2px;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    height: 31px;
    //border: 1px navy solid;
}

.barText{
    text-align: left;
    padding-left: 10px;
    position: relative;
    bottom: 6px;
    //border: 1px navy solid;
}

.cerca{
    border-radius: 1px;
    position: relative;
    width: 400px;
    //border: 1px navy solid;
}

#BarraRicerca{
 position: relative;
 top: 10px;
}

.registration{
    //border: 1px navy solid;
    position: relative;
    top: 50px;
    text-align: left;
    display: inline-block;
    width: 400px;
}

.changeProfile{
    //border: 1px navy solid;
    position: relative;
    top: 50px;
    text-align: left;
    display: inline-block;
    width: 400px;
}

.credit{
    //border: 1px navy solid;
    position: relative;
    top: 50px;
    text-align: left;
    display: inline-block;
    width: 256px;
}

.titleReg{
    //border: 1px navy solid;
    text-align: center;
}

.inReg{
    //border: 1px navy solid;
    border-radius: 5px;
    position: relative;
    float: right;
}

.addNew{
    position: relative;
    text-align: right;
    display: inline-block;
    width: 650px;
    //border: 1px navy solid;
}

.selectNew{
    width: 200px;
    border-radius: 5px;
}

.labelNew{
    border-radius: 5px;
    position: relative;
    float: left;
}

inRegRic{
    position: relative;
    float: right;
}

.chisiamoList{
    position: relative;
    top:200px;
    left: 300px;
    list-style-type: none;
}

.chisiamo{
    text-align: left;
}

.mail{
    position: relative;
    top: 50px;
}

.secText{
    position: relative;
    top: 50px;
}

.phonefax{
    position: relative;
    top:50px;
    left: 100px;
}

.dataChange{
    list-style-image: url(img/edit.png);
}

.titleProfile{
    list-style-image: url(img/conf.png);
}

.changeData{
    position: relative;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    top: 50px;
    left: 120px;
}

.updateCredit{
    position: relative;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    top: 200px;
    left: 160px;
}

.linkAdd{
    position: relative;
    bottom: 10px;
}

.chargeCredit{
    list-style-image: url(img/wallet.png);
}

.searchLink{
    list-style-image: url(img/cerca.png);
}

.weLink{
    list-style-image: url(img/chisiamo.png);
}

.registerLink{
    list-style-image: url(img/registrati.png);
}
