/* 
    Created on : 27-mar-2014, 18.41.27
    Author     : Alberto Collu
*/

.page{
    margin: auto auto auto auto;
    width: 900px;
    min-height: 1000px;
    padding: 2px;
    background-color: aliceblue;
    border-radius: 5px;
    //border: navy solid;
}

.header{
    border-radius: 3px;
    text-align: center;
    padding-bottom: 25px;
    height: 80px;
    //border: 1px navy solid;
}

.ts{
    //border: 1px navy solid;
    position: relative;
    bottom: 105px;
}

#sidebar{
    padding: 2px;
    float: left;
    position: relative;
    width:  180px;
    top: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke; 
    //border: navy solid;
}

#content{
    padding: 2px;
    min-height: 974px;
    margin-left: 190px;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    //border: navy solid;
}

.content{
    background-image: url(img/2.jpg);
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    min-height: 904px;
    //border: navy solid;  
}

#footer{ 
    background-color: #17769C;
    height: 60px;
    padding-top: 20px;
    border-radius: 3px;
    alignment-adjust: central;
    text-align: center;
    clear: left;
    //border: navy solid;
}

.infotter{
    position: relative;
    //border: navy solid;    
}

.linkSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: navy solid;
}

.imgSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    //border: navy solid;
}

.linkSocial{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    //border: navy solid; 
}

.buyerFeatures{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: navy solid;
}

.textLog{
    position: relative;
    right: 6px;
    bottom: 150px;
}

.textLog2{
    position: relative;
    bottom: 150px;
}

.logoutbutton{
    margin-left: 640px;
    position: relative;
    bottom: 43px;
}

.loginbutton{
    margin-left: 635px;
    position: relative;
    bottom: 42px;
}

.logImg{
    position: relative;
    left: -50px;
    top: 20px;
}

.freccia{
    position: relative;
    //border: 1px navy solid;
    top: 33px;
    left: 50px;
}

.logIn{
    position: relative;
    //border: 1px navy solid;
    text-align: right;
    left: 150px;  
    top: -20px;
    width: 200px;
    height: 150px;
}

.titleLog{
    position: relative;
    top: 35px;
}

.generali{
    position: relative;
    top: 40px;
}

.condizioni{
    position: relative;
    //border: 1px navy solid;
    top:60px;
}

.condizioni2{
    position: relative;
    //border: 1px navy solid;
    top:80px;
}

.volFirstVisit{ 
    position: relative;
    top: 130px;
    right: 20px;
    text-align: right;
    //border: 1px navy solid;
}

.barra{
    position: relative;
    top: 2px;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    height: 31px;
    //border: navy solid;
}

.barText{
    text-align: left;
    padding-left: 10px;
    position: relative;
    bottom: 6px;
    //border: navy solid;
}

.registration{
    //border: navy solid;
    position: relative;
    bottom: 575px;
    text-align: left;
    display: inline-block;
    width: 400px;
}

.profileImg2{
    //border: 1px navy solid;
    position: relative;
    top: 20px;
    height: 700px;
}

.profilePen2{
    //border: 1px navy solid;
    position: relative;
    bottom: 115px;
    height: 50px;
}

.changeProfile{
    //border: navy solid;
    position: relative;
    bottom: 500px;
    text-align: left;
    display: inline-block;
    width: 400px;
}

.ingran{
    position: relative;
    top: 100px;
}

.mano{
    position: relative;
    top: 100px;
}

.profileImg{
    //border: 1px navy solid;
    position: relative;
    top: 20px;
    height: 650px;
}

.profilePen{
    //border: 1px navy solid;
    position: relative;
    bottom: 100px;
    height: 50px;
}

.credit{
    //border: 1px navy solid;
    position: relative;
    left: 220px;
    text-align: left;
    width: 256px;
}

.card{
    position: relative;
    //border: 1px navy solid;
    top: 170px;
}

.titleRic{
    //border: navy solid;
    text-align: center;
    bottom: 50px;
}

.titleReg{
    //border: navy solid;
    text-align: center;
}

.inReg{
    //border: navy solid;
    border-radius: 5px;
    position: relative;
    float: right;
}

.addNew{
    position: relative;
    text-align: right;
    display: inline-block;
    width: 650px;
    //border: navy solid;
}

.selectNew{
    width: 200px;
    border-radius: 5px;
}

.labelNew{
    border-radius: 5px;
    position: relative;
    float: left;
}

inRegRic{
    position: relative;
    float: right; 
}

.welcomeList{
    position: relative;
    list-style-type: none;
    top:50px;
}

.infoContact{
    //border: 1px navy solid;
    position: relative;
    width: 350px;
    left: 330px;
    top: 110px;
}

.welcome{
    //border: 1px navy solid;
    position: relative;
    text-align: left;
    height: 880px;
}

.TecnoShop{
    position: relative;
    bottom: 220px;
    left: 500px;
}

.benvenuto{
    position: relative;
    top: 35px;
}

.comprato{
    position: relative;
    //border: 1px navy solid;
    top:100px;
}

.comprato2{
    position: relative;
    //border: 1px navy solid;
    top:140px;
}

.comprato3{
    position: relative;
    //border: 1px navy solid;
    top:180px;
}

.left{
    position: relative;
    padding-right: 20px;
    left: -20px;
}

.mail{
    position: relative;
    top: 150px;
}

.secText{
    position: relative;
    top: 150px;
}

.phonefax{
    position: relative;
    top:150px;
    left: 100px;
}

.dataChange{
    list-style-image: url(img/edit.png);
}

.titleProfile{
    list-style-image: url(img/conf.png);
}

.noProducts{
    list-style-image: url(img/notFound.png);
}

.changeData{
    position: relative;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    top: 50px;
    left: 120px;
}

.unfo{
    position: relative;
    left: 200px;
    width: 250px; 
    margin-top: 50px;
}

.usersInfo{
    list-style-type: none;
    position: relative;
    right: 20px;
}

.requis1{
    list-style-image: url(img/done.png); 
    text-align: left;
    //border: 1px navy solid;
    width: 210px;
    position: relative;
    left: 25px;
    top: 55px;
}

.requis2{
    list-style-image: url(img/done.png); 
    text-align: left;
    //border: 1px navy solid;
    width: 350px;
    position: relative;
    left: 300px;
    bottom: 108px;
}

.ajax{
    list-style-image: url(img/not.png); 
    text-align: left;
    //border: 1px navy solid;
    width: 350px;
    position: relative;
    left: 300px;
    bottom: 85px;
}

.description{
    text-align: left;
    position: relative;
    top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.updateCredit{
    position: relative;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    bottom: 573px;
    height: 50px;
    left: 120px;
}

.money{
    position: relative;
    bottom: 520px;
}

.titleRic{
    list-style-image: url(img/conf.png);
    position: relative;
    top: 6px;
}

.ricorda{
    position: relative;
    top: 100px;
}

.linkAdd{
    position: relative;
    bottom: 10px;
}

.chargeCredit{
    list-style-image: url(img/wallet.png);
}

.searchLink{
    list-style-image: url(img/cerca.png);
}

.weLink{
    list-style-image: url(img/info.gif);
}

.registerLink{
    list-style-image: url(img/registrati.png);
}

/*da qui in giù vetrina*/

.vetrina{
    text-align: center;
    //border: navy solid;
    padding-left: 35px; 
} 

.template1{
    //border: navy solid;
    margin-left: 37px;
    margin-right: 37px;
    padding: 2px;
    height: 160px;
    width: 540px;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
}

.photo1{
    position: relative;
    left: 20px;
    bottom: 180px;
    //border: navy solid;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    border-bottom: 1px #17769C dotted;
}

.info1{
    //border: navy solid;
    padding: 2px;
    width: 200px;
    height: 185px;
    position: relative;
    left: 320px;
}

.price1{
    //border: navy solid;
    padding: 2px;
    width: 100px;
    height: 20px;
    position: relative;
    left: 185px;
    bottom: 260px;
    border: 1px #17769C solid;
    border-radius: 10px;
    text-align: center;
}

.template2{
    //border: navy solid;
    margin-left: 37px;
    margin-right: 37px;
    padding: 2px;
    height: 285px;
    width: 540px;
    background-color: whitesmoke;
    border: 1px #17769C solid;
    border-radius: 10px;
}

.photo2{
    position: relative;
    left: 45px;
    bottom: 180px;
    //border: navy solid;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    border-bottom: 1px #17769C dotted;
}

.info2{
    //border: navy solid;
    position: relative;
    padding: 2px;
    left: 220px;
    width: 300px;
    height: 185px;
}

.sellerInfo{
    //border: 1px navy solid;
    padding: 2px;
    width: 200px;
    height: 20px;
    position: relative;
    bottom: 180px;
    left: -30px;
    text-align: center;
}

.items{
    //border: 1px navy solid;
    padding: 2px;
    width: 135px;
    height: 20px;
    position: relative;
    bottom: 195px;
    text-align: center;
}

.price2{
    //border: 1px navy solid;
    padding: 2px;
    width: 70px;
    height: 20px;
    position: relative;
    bottom: 117px;
    left: -10px;
    text-align: center;
}

.bayProd{
    position: relative;
    bottom: 180px;
    left: -125px;
    border-color: #17769C;
}

.riepilogo{
    margin: 4px;
    list-style: none;
    position: relative;
    border: 1px #17769C solid;
    border-radius: 5px;
    height: 15px;
    padding-bottom: 3px;
    text-align: center;
    //border: navy solid;
}


.template3{
    //border: navy solid;
    margin-left: 37px;
    margin-right: 37px;
    padding: 2px;
    height: 280px;
    width: 540px;
    background-color: whitesmoke;
    border: 1px #17769C solid;
    border-radius: 10px;
}

.photo3{
    position: relative;
    left: 55px;
    bottom: 180px;
    //border: 1px navy solid;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    border-bottom: 1px #17769C dotted;
}

.info3{
    //border: navy solid;
    position: relative;
    padding: 2px;
    left: 238px;
    width: 300px;
    height: 185px;
}

.price3{
    //border: navy solid;
    padding: 2px;
    width: 100px;
    height: 60px;
    position: relative;
    left: 68px;
    bottom: 165px;
    border: 1px #17769C solid;
    border-radius: 10px;
    text-align: center;
}

.bayProdGuest{
    position: relative;
    bottom: 150px;
    left: -150px;
    border-color: #17769C;
}

/*fine vetrina*/