
/* 
    Created on : 27-mar-2014, 18.41.27
    Author     : bananajoe
*/

.page{
    margin: auto auto auto auto;
    width: 900px;
    height: 1024px;
    padding: 2px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px navy solid;
}

h1{
    color: white;
    font: sans-serif;
    font-size: 32px;
    text-align:center;
    font-style: italic; 
}

.header{
    position: relative;
    bottom: 20px;
    border-radius: 3px;
    background-image: url('img/header.jpg'); 
    background-repeat: no-repeat;
    height: 100px;
}

#sidebar{
    padding: 2px;
    position: relative;
    height: 827px;
    width:  180px;
    //border: 1px navy solid;
    //border-radius: 5px;
    bottom: 16px;
    background-color: whitesmoke; 
}

#content{
    padding-top: 2px;
    position: relative;
    height: 829px;
    border: 1px navy solid;
    //border-radius: 5px;
    margin-left: 190px;
    bottom: 847px;
    background-color: whitesmoke;
}

#footer{ 
    position: relative;
    background-image: url('img/header.jpg'); 
    background-repeat: no-repeat;
    height: 85px;
    bottom: 861px;
    //border: 1px navy solid;
    border-radius: 3px;
    alignment-adjust: central;
    text-align: center;
}

.content{
    padding: 10px;
    border-radius: 5px;
    border: 1px navy solid;
    height: 759px;
    background-color: #d9d9d9;
}

.linkSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: 1px navy solid;
}

.imgSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    //border: 1px navy solid;
}

.linkSocial{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    //border: 1px navy solid; 
}

.barra{
    padding-left: 250px;
    background-color: #d9d9d9;
    border-radius: 5px;
    //border: 1px navy solid;
}

form#BarraRicerca{
    background-color: #d9d9d9;
    color: #666666; 
    font-size: 10px;  
    padding: 2px; 
}


/*da qui in giù*/

.vetrina{
    text-align: center;
    //border: 1px navy solid;
} 

.template{
    //border: 1px navy solid;
    margin-left: 37px;
    margin-right: 37px;
    padding: 2px;
    height: 260px;
    width: 600px;
    background-color: whitesmoke;
    border: 2px #17769C solid;
    border-radius: 10px;
}

.photo{
    position: relative;
    left: 370px;
    bottom: 235px;
    //border: 1px navy solid;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.info{
    //border: 1px navy solid;
    padding: 2px;
    width: 300px;
    height: 244px;
    position: relative;
    left: 20px;
}

.price{
    //border: 1px navy solid;
    padding: 2px;
    width: 100px;
    height: 20px;
    position: relative;
    left: 410px;
    bottom: 215px;
    border: 2px #17769C solid;
    border-radius: 10px;
    text-align: center;
}

.riepilogo{
    list-style: none;
    position: relative;
    border: 2px #17769C solid;
    border-radius: 10px;
    height: 25px;
    text-align: center;
}