
/* 
    Created on : 27-mar-2014, 18.41.27
    Author     : bananajoe
*/

.page{
    /*per il margine del div page nord/est/sud/ovest*/

    margin: auto auto auto auto;
    width: 900px;
    height: 827px;

    padding: 2px;

    background-color: aliceblue;
    border-radius: 5px;
    border: 1px navy solid;
}


h1{
    color: white;
    font: sans-serif;
    font-size: 32px;
    text-align:center;
    font-style: italic; 
}

.header{

    /*se la larghezza della page è preimpostata non serve impostare quella del div header*/
    padding-bottom: 40px;
    border-radius: 5px;
    border: 1px navy solid;
    background-image: url('img/header.jpg'); 
    background-repeat: no-repeat;
    height: 50px;
}

.bar{

    top: 12px;
    width: 896px;
    alignment-adjust: central;
    height: 15px;
    position: relative;
    border: 1px navy solid;
    border-radius: 5px;
}

#sidebar{

    /*padding tra bordo sidebar e contenuto sidebar*/
    padding: 2px;
    margin-top: 5px;
    position: relative;
    height: 600px;
    width:  180px;
    //border: 1px navy solid;
    //border-radius: 5px;
    top: 15px;
    background-color: whitesmoke; 
}

#content{
    padding: 4px;
    margin-top: 5px;
    position: relative;
    height: 600px;
    //border: 1px navy solid;
    //border-radius: 5px;
    margin-left: 190px;
    bottom: 596px;
    background-color: whitesmoke;
}

#footer{ 

    position: relative;
    background-image: url('img/header.jpg'); 
    background-repeat: no-repeat;
    height: 85px;
    bottom: 575px;
    border: 1px navy solid;
    border-radius: 3px;
    alignment-adjust: central;
    text-align: center;
}

.barF{

    width: 896px;
    alignment-adjust: central;
    height: 15px;
    position: relative;
    bottom: 20px;
    border: 1px navy solid;
    border-radius: 5px;
}
.content{
    padding: 10px;
    border-radius: 5px;
    border: 1px navy solid;
    height: 528px;
    background-color: #d9d9d9;
}

.linkSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px navy solid;
}
.linkSideBar ul{
    background-image: url('img/contattaci.png'); 
    background-repeat: no-repeat;
    list-style-type: none;
    background-position: 0px -1px;
    padding-left: 30px;
}

.imgSideBar{
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px navy solid;

}

.barra{

    padding-left: 250px;
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 1px navy solid;
}

form#BarraRicerca{

    background-color: #d9d9d9;
    color: #666666; 
    display: inline-block; 
    font-size: 10px;  
    padding: 2px; 
}


